<section>
    <!-- Page content-->
    <div class="content-wrapper">
        <div class="content-heading">
            <!-- START Language list-->
            <div class="pull-right">
                <div class="btn-group">
                    <button type="button" data-toggle="dropdown" class="btn btn-default">这他娘的是个废按钮</button>
                </div>
            </div>
            <!-- END Language list-->
            这是塔喵的是一个首页
            <small data-localize="dashboard.WELCOME"></small>
        </div>
        <!-- START widgets box-->
        <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
            <!-- START date widget-->
            <div class="panel widget">
                <div class="row row-table">
                    <div class="col-xs-4 text-center bg-green pv-lg">
                        <!-- See formats: https://docs.angularjs.org/api/ng/filter/date-->
                        <div data-now="" data-format="MMMM" class="text-sm"></div>
                        <br>
                        <div data-now="" data-format="D" class="h2 mt0"></div>
                    </div>
                    <div class="col-xs-8 pv-lg">
                        <div data-now="" data-format="dddd" class="text-uppercase"></div>
                        <br>
                        <div data-now="" data-format="h:mm" class="h2 mt0"></div>
                        <div data-now="" data-format="a" class="text-muted text-sm"></div>
                    </div>
                </div>
            </div>
            <!-- END date widget-->
        </div>
    </div>
        <!-- END widgets box-->
    </div>
</section>