<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <title>My Index</title>
    <th:block th:replace="common/meta"/>
    <th:block th:replace="common/link"/>

    </head>

<body>
<div class="wrapper">
    <!-- top navbar-->
    <th:block th:replace="common/header"/>
    <!-- sidebar-->
    <th:block th:replace="common/left"/>
    <!-- offsidebar-->
    <th:block th:replace="common/right"/>
    <!-- Main section-->
    <th:block th:replace="common/section"/>
    <!-- Page footer-->
    <th:block th:replace="common/footer"/>
</div>
<th:block th:replace="common/include"/>
</body>
</html>